/*Universial Styles*/

html {
	font-size: 18px;
}

body {
 	 font-family: "Gotham";
 	 line-height: 1.4;
}

.container {
 	 max-width: 960px;
 	 margin: 0 auto;
}

h2, h1 {
	font-weight: bold;
}

/* Company Header */

.company {
	background-color: black;
	color: white;
}

.company .container {
	display: flex;
	align-items: center;
	padding: .66rem 0rem .66rem 0.5rem;
}

.container img {
	padding-right: 1rem;
	height: 1.5rem;
}

/* Main Banner */

main {
	height: 25rem;
	background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.information {
	position: relative;
	top: 9rem;
	color: white;
	width: 20rem;
	padding: 2rem 3rem;
	background-color: black;
}

.information h1 {
	font-size: 2rem;
}

/* Navigation */

nav {
	background-color: firebrick;
	color: white;
	padding: .75rem 0;
}

nav ul {
	display: flex;
}

ul {
	display: inline-flex;
	justify-content: space-between;
}

/* Teaser */

.teaser {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
	margin-bottom: 0;
}

.product {
	width: 30%;
}

.image {
	display: flex;
	justify-content: center;
  	align-items: center;
	background-color: white;
	padding: 2rem;
	border: 4px solid black;
}

.image img {
	height: 9rem;
	max-width: 8rem;
}

.description {
	display: block;
	background-color: black;
	color: white;
	padding: 0.5rem;
	text-align: center;
}

/* Informations */

.info {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
	margin-bottom: 4rem;
}

.title {
	display: block;
	width: 35%;
}

.box {
	display: flex;
	background-color: black;
	color: white;
	padding: 1rem 2rem;
}

/* Footer */

footer {
	text-align: left;
	background-color: black;
	color: white;
	padding: 5rem;
}

